{% load static %}
{% load crispy_forms_tags %}
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    {% load static %}
     <link rel="stylesheet" href="{% static 'home-style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
    <title>{% block title %} Home|DUITS{% endblock %}</title>
    </head>

<body>
   
               

<nav class="navbar navbar-expand-lg ">
    <!-- <div class="container-fluid"> -->
        <a class="navbar-brand d-flex align-items-center" href="#">{% load static %} <img class="logo" src="{% static 'img/duitsHome.png' %} "
                alt="image not found" >
            <span>Dhaka University <br>IT Society (DUITS)</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            {%load static%}
            <img src="{%static 'img/rsz_bars-solid.png'%}" alt="menu_Nav_bar">
        </button>
        <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-right ">
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration' %}">Registration-form</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Status</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="logout-link">Logout</a>
                </li>
            </ul>
        </div>
        <!-- </div> -->
        </nav>
<!-- Logout Modal -->
<div class="modal" tabindex="-1" role="dialog" id="logout-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logout Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to logout?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Show logout modal on click
        $('#logout-link').click(function () {
            $('#logout-modal').modal('show');
        });
    });
</script>

<div class="container-fluid">
    {% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-8">
                    <div class="feature-box">
                        <p style="text-align: center;"> Established- 3rd February, 2012</p>
                        <h1>Welcome to Dhaka University IT Society (DUITS) </h1>
                        <p>University of Dhaka hereby established an "Information Technology (IT) Society" to create a
                            friendly and constructive generation based on technology. The name of the society is Dhaka University IT Society (DUITS),
                            headed by Abdullah Al Imran, President; Arif Dewan, General Secretary. The Vice-Chancellor of University of Dhaka is
                            the chief patron and Dr.AJM Shafiul Alam Bhuiyan, Professor, Television, Film & Photography is the Moderator of the
                            Society. Our objective is to establish an IT friendly environment in campus as 21st century is called the "Century of
                            Technology". Here, the organizers along with the members of DUITS have aimed to broaden the knowledge and usefulness of
                            information Technology to the students for their affirmative growth in the future job market both in national and
                            international perspective, which will be largely dominated by Information Technology in near future. Official
                            inauguration of DUITS was in September, 2011. After a long & distinguished work of ad hoc committee, kick off ceremony of the
                            elected officials was held on 3rd February, 2012 was a colourful inauguration ceremony in presence of Honorable
                            Vice-chancellor of University of Dhaka.
                        </p>
                        <a href="#" class="btn-contactUs"> Contact Us </a>
                        <a href="#" class="btn-ReadMore"> Read More </a>
                    </div>
                </div>
                <div class="col-md-4">
                    {%load static%}
                    <img src="{%static 'img/ima.jpg'%}" alt="menu_Nav_bar" class="feature-image">
                </div>
            </div>
        </div>
    </div>
     
{% endblock %}



<!-- Optional JavaScript
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
</body> -->

</html>