{% extends './home.html' %}

{% block content %}
<div class="container">
  {% if myform %}
  <div class="row">
    <div class="col-md-3" style="border: #a669ce;">
      <div class="card">
        <div class="card-body text-center">
          <div class="d-flex justify-content-center mb-3">
              {% load static %}
            {% if myform.image %}
            <img src="{{ myform.image.url }}" class="rounded-circle" alt="Profile Image" width="150" height="150">
            {% else %}
            <img src="{% static 'img/rsz_bars-solid.png' %}" class="rounded-circle" alt="Default Image" width="150" height="150">
            {% endif %}
          </div>

          <h4 class="card-title">{{ myform.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ myform.registration_number }}</h6>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h3>Profile Information</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="registration_number">Registration Number:</label>
            <input type="text" class="form-control" id="registration_number" value="{{ myform.registration_number }}"
              readonly>
          </div>
          <div class="form-group">
            <label for="session">Session:</label>
            <input type="text" class="form-control" id="session" value="{{ myform.session }}" readonly>
          </div>
          <div class="form-group">
            <label for="hall">Hall:</label>
            <input type="text" class="form-control" id="hall" value="{{ myform.hall }}" readonly>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" value="{{ myform.email }}" readonly>
          </div>
          <div class="form-group">
            <label for="department">Department:</label>
            <input type="text" class="form-control" id="department" value="{{ myform.department }}" readonly>
          </div>
          <!-- add more fields as needed -->
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <p>No profile data found. Please Complete Your MemberRegistration . Then Your Profile Data Will be Updated . </p>
  {% endif %}
</div>
{% endblock %}