# Django-related files
*.log
*.pyc
__pycache__/
*.sqlite3

# Environment variables
.env

# Local development settings
settings.local.py

# IDE and text editor files
.vscode/
.idea/

# Compiled Python files
*.pyc

# macOS-related files
.DS_Store

# Other temporary files
